<div class="w-40 mx-auto">
  @if (label) {
    <label for="options" class="block text-sm font-medium text-gray-700">
      {{ label }}
    </label>
  }
  <select
    id="options"
    class="bg-gray-900 block w-full pl-3 pr-10 py-2 text-base border-gray-300 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm rounded-md"
    [(ngModel)]="selectedOption"
    (change)="onOptionChange($event)"
  >
    <option *ngFor="let option of options" [value]="option" class="bg-gray-700 text-white">
      {{ option }}
    </option>
  </select>
</div>
