.image-item {
  background: -webkit-linear-gradient(
    150deg,
    black,
    #0e0a1a,
    rgba(11, 0, 137, 0.81)
  ); /* Safari 5.1 to 6.0 */
  background: -o-linear-gradient(
    150deg,
    black,
    #0e0a1a,
    rgba(11, 0, 137, 0.81)
  ); /* Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(
    150deg,
    black,
    #0e0a1a,
    rgba(11, 0, 137, 0.81)
  ); /* Firefox 3.6 to 15 */
  background: linear-gradient(
    150deg,
    black,
    #0e0a1a,
    rgba(11, 0, 137, 0.81)
  ); /* 标准语法 */

  button {
    filter: drop-shadow(0px 0px 30px rgb(255, 255, 255));

    i {
      font-size: 25px; /* 设置图标大小 */
      color: #fff; /* 设置图标颜色 */
    }
  }
}
h2,
h3 {
  text-shadow: 0 0 25px rgb(255, 255, 255); /* 添加发光效果 */
}

