<div class="min-h-screen py-8 relative">
  <div class="container mx-auto p-4 max-w-full">
    <div class="shadow-lg rounded-xl p-8">
      <div class="flex items-center gap-3 mb-8">
        <i class="fab fa-docker text-3xl text-blue-500"></i>
        <h2 class="text-2xl font-bold text-white mr-2">Docker Image Pull</h2>
      </div>

      <div class="flex gap-4 mb-8 relative items-center">
        <!-- 原镜像 -->
        <input
          [(ngModel)]="oldImage"
          type="text"
          class="flex-1 pl-3 px-4 py-3 bg-gray-900 rounded-lg focus:outline-none focus:ring-1 focus:ring-white focus:border-transparent transition-all"
          placeholder="Enter docker image URL (e.g., nginx:latest)"
          [disabled]="isProcessing"
        />
        <!-- 箭头图标 -->
        <div class="flex items-center">
          <i class="fa-solid fa-right-long text-2xl"></i>
        </div>
        <!-- 新镜像 -->
        <input
          [(ngModel)]="newImage"
          type="text"
          class="flex-1 pl-3 px-4 py-3 bg-gray-900 rounded-lg focus:outline-none focus:ring-1 focus:ring-white focus:border-transparent transition-all"
          placeholder="Enter docker image URL (e.g., nginx:latest)"
          [disabled]="isProcessing"
        />

        <button
          (click)="handlePullImage()"
          [disabled]="(!newImage && !oldImage) || isProcessing"
          class="px-6 py-3 bg-blue-500 text-white rounded-lg hover:bg-blue-600 disabled:bg-gray-900 transition-colors duration-200 shadow-sm"
        >
          <span *ngIf="!isProcessing" class="flex items-center gap-2">
            <i class="fas fa-download"></i> Pull Image
          </span>
          <span *ngIf="isProcessing" class="flex items-center gap-2">
            <i class="fas fa-spinner fa-spin"></i>
            Processing...
          </span>
        </button>
      </div>

      <!-- logs -->
      <div>
        @for (log of logs; track log) {
          <pre>{{ log }}</pre>
        }
      </div>
    </div>
  </div>
</div>
