<div class="p-4">
  <h1 class="text-2xl font-bold mb-4">MinIO File Manager</h1>

  <!-- Bucket 列表 -->
  <div class="mb-4">
    <h2 class="text-xl font-semibold mb-2">Buckets</h2>
    <ul class="space-y-2 bg-gray-900">
      <li *ngFor="let bucket of buckets" [ngClass]="{ 'border-2 border-gray-500': bucket === currentBucket }"
        class="cursor-pointer hover:bg-gray-800 p-2 rounded" (click)="loadFiles(bucket)">
        {{ bucket }}
      </li>
    </ul>
  </div>

  <!-- 文件列表 -->
  <div class="mb-4">
    <h2 class="text-xl font-semibold mb-2">
      Files in
      <a (click)="loadFiles(currentBucket, '')" class="cursor-pointer underline">
        {{ currentBucket }}</a>
      @if (currentPrefix) {
      /
      @for (part of splitPrefix; track $index) {
      <a (click)="parentFiles(currentBucket, part, $index)" class="cursor-pointer underline">{{ part }}</a>/
      }
      }
    </h2>
    <ul class="space-y-2 bg-gray-900">
      <li *ngFor="let file of files" class="cursor-pointer hover:bg-gray-800 p-2 rounded"
        (click)="getMetadata(currentBucket, file)">
        {{ file }}
      </li>
    </ul>
  </div>

  <!-- 文件元数据 -->
  <div *ngIf="metadata" class="mb-4">
    <h2 class="text-xl font-semibold mb-2">Metadata</h2>
    <pre class="bg-gray-900 p-4 rounded">{{ metadata | json }}</pre>
  </div>

  <!-- 文件上传 -->
  <div class="mb-4">
    <h2 class="text-xl font-semibold mb-2">Upload</h2>
    <input type="file" (change)="onFileSelected($event)" class="border p-2 rounded" multiple webkitdirectory />
  </div>
</div>
